<!DOCTYPE html>
<html>
  <head>
    <title>Hotrails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar bg-primary" data-bs-theme="dark">
      <%= link_to "home", root_path,class: "btn btn-secondary"%>
      <%= link_to "posts", posts_path,class: "btn btn-dark"%>
    </nav>
    <%= yield %>
  </body>
</html>
